/* Color Theme Swatches in Hex */
/*.principal { color: #666666 }
.destaque {color:#2980B9 }
.background { color: #F5F7FA }
*/


html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #666666;
    background: #F5F7FA;
}

a {
    color: #FFE3ED;
}

a:hover {
    color: #ffe3ed88;
}


h1,
h3,
h2,
h4 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    color: #F5F7FA;
    background: #666666;
}

nav {
    color: #F5F7FA;
    background: #666666;
    position: fixed;
    z-index: 1000;
    width: 100%;
    margin: 0%;
}


nav ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;
    padding: auto;
}


header {
    padding-top: 60px;
}